.topnav {
    font-family: Copperplate, Sans-Serif;
    background-color: #f4b425;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #162960;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #fada92;
    color: #162960;
}